* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100vw;
  height: 35vh;
  background-color: #ff69b4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topbox {
  width: 40vw;
  display: flex;
  align-items: center;
  color: #fff;
}

.topimg {
  width: 20vw;
}

.toptexto {
  font-size: 3.8vw;
  font-weight: 400;
}

nav {
  display: flex;
  width: 60vw;
}

ul {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vw;
}

a {
  color: #fff;
}

.link {
  font-size: 3.4vw;
}

.box1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 3.25vh;
  background-color: #FFD9EC;
}

.texto1 {
  width: 45vw;
  font-size: 4.06vh;
  font-weight: 400;
}

.rosa1 {
  width: 27.78vw;
  height: 57.72vh;
}

.box2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 3.25vh;
  background-color: #ff69b4;
  color: #fff;
}

.texto2 {
  width: 49.31vw;
  height: 28.28vh;
  font-size: 4.06vh;
  font-weight: 400;
}

.rosa2 {
  width: 32.04vw;
  height: 38.05vh;
}

.box3 {
  width: 100vw;
  height: 69.27vh;
  padding-top: 11.38vh;
  padding-left: 13vw;
  background-color: #FFD9EC;
}

.rodape {
  width: 100vw;
  height: 23.41vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff69b4;
}

div {
  width: 53vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textofim {
  color: #fff;
}

@media (max-width: 990px) {
  header {
    width: 100vw;
    height: 40vh;
    background-color: #ff69b4;
    display: flex;
    flex-direction: column;
  }
  .topbox {
    width: 90vw;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .topimg {
    width: 15vw;
  }
  .toptexto {
    font-size: 3.5vw;
  }
  nav {
    width: 90vw;
  }
  ul {
    justify-content: space-between;
    width: 100vw;
  }
  .link {
    font-size: 3.5vw;
  }
  .box1 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 3.25vh;
    background-color: #FFD9EC;
  }
  .texto1 {
    width: 45vw;
    font-size: 4.06vh;
    font-weight: 200;
    color: #000;
  }
  .rosa1 {
    width: 27.78vw;
    height: 57.72vh;
  }
  .box2 {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 3.25vh;
    background-color: #ff69b4;
    color: #000;
  }
  .texto2 {
    font-size: 3.015vw;
    font-weight: 200;
  }
  .rosa2 {
    width: 42.04vw;
    height: 40.05vh;
  }
  .box3 {
    width: 100vw;
    height: 69.27vh;
    padding-top: 11.38vh;
    padding-left: 13vw;
    background-color: #FFD9EC;
  }
  .dicas {
    width: 28.5vw;
    height: 28.5vh;
  }
  .rodape {
    width: 100vw;
    height: 40.41vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff69b4;
  }
  div {
    width: 53vw;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .textofim {
    width: 40vw;
    display: flex;
    align-items: start;
    font-size: 2.8vw;
    color: #fff;
  }
}
@media (max-width: 550px) {
  header {
    width: 100vw;
    height: 20vh;
    background-color: #ff69b4;
    display: flex;
    flex-direction: column;
  }
  .topbox {
    width: 50vw;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .topimg {
    width: 15vw;
  }
  .toptexto {
    font-size: 6.5vw;
    font-weight: 800;
  }
  nav {
    width: 80vw;
  }
  ul {
    justify-content: space-between;
    width: 100vw;
  }
  .link {
    font-size: 4.5vw;
    font-weight: 700;
  }
  .box1 {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 10px;
    background-color: #FFD9EC;
  }
  .texto1 {
    width: 65vw;
    font-size: 2.06vh;
    font-weight: 800;
    padding-top: 20px;
    color: #ff69b4;
  }
  .rosa1 {
    width: 57vw;
    width: 55vw;
    height: 45vh;
  }
  .box2 {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff69b4;
  }
  .texto2 {
    width: 70vw;
    font-size: 2.06vh;
    font-weight: 800;
    color: #FFD9EC;
  }
  .rosa2 {
    width: 76vw;
    width: 46vw;
    height: 30.05vh;
    width: 65vw;
    height: 15vh;
  }
  .box3 {
    display: flex;
    width: 100vw;
    height: 37vh;
    padding: 1vh;
    background-color: #FFD9EC;
  }
  .dicas {
    width: 30vw;
    height: 30vh;
  }
  .rodape {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec4ad1;
    padding-bottom: 6.2vh;
  }
  div {
    width: 63vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .textofim {
    width: 40vw;
    display: flex;
    font-size: 5vw;
    font-weight: 900;
    color: #FFD9EC;
  }
  .redes {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */